<ion-header class="os-header">
  <ion-toolbar lines="none">
    <div class="os-header-bar">
      <!-- casinha -->
      <button class="os-back-btn" (click)="onBack()">
        <img src="../../assets/icon/topoRequest.svg" alt="Voltar" />
      </button>

      <h1 class="os-title">Abastecimento Próprio - Edição</h1>

      <div class="os-header-spacer"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="os-content">
  <div class="os-page">
    <div class="os-card">


<div class="abp-field">
  <label class="abp-label">Origem / Tanque</label>

  <app-autocomplete
  [lista]="bombas"
  campoDescricao="bombaDescricao"
  [valorSelecionado]="bombaSelecionada"
  (selecionado)="bombaSelecionada = $event?.bombaId; onBombaChange($event)"
>
</app-autocomplete>
</div>




      <!-- Equipamento -->
<div class="abp-field">
  <label class="abp-label">Equipamento</label>

  <app-autocomplete
 [lista]="equipamentos"
campoDescricao="descricao"
[valorSelecionado]="equipamentoSelecionado"
(selecionado)="equipamentoSelecionado = $event?.id"
    >
  </app-autocomplete>
</div>


      <!-- DATA  -->
      <div class="abp-field">
  <label class="abp-label">Data do abastecimento</label>

  <div class="abp-date-input" (click)="openCalendar($event)">
<input
  type="text"
  class="os-input"
  readonly
  placeholder="dd/mm/aaaa"
  [value]="formatDate(data)"
/>

    <!-- BOTÃO LIMPAR -->
    <button
      *ngIf="data"
      type="button"
      class="abp-date-clear"
      (click)="limparData($event)">
      ✕
    </button>

    <!-- BOTÃO CALENDÁRIO -->
    <button
      type="button"
      class="abp-date-btn"
      (click)="openCalendar($event)">
      <ion-icon name="calendar-outline"></ion-icon>
    </button>
  </div>
</div>

      <!-- Bomba / Bico e Destino (ainda sem API, por enquanto só layout) -->
      <div class="abp-group-row">
        <div class="abp-field abp-half">
          <label class="abp-label">Bomba / Bico</label>
  <app-autocomplete
  [lista]="bombas"
  campoDescricao="bombaDescricao"
  [valorSelecionado]="bombaSelecionada"
  (selecionado)="selecionarBomba($event)">
</app-autocomplete>
        </div>

        <div class="abp-field abp-half">
          <label class="abp-label">Destino</label>
 <app-autocomplete
  [lista]="destinos"
  campoDescricao="destinoDesc"
  [valorSelecionado]="destinoSelecionado"
  (selecionado)="selecionarDestino($event)">
</app-autocomplete>
        </div>
      </div>

      <!-- Empreendimento / Etapa -->
      <div class="abp-group-row">
<!-- Empreendimento -->
<div class="abp-field abp-half">
  <label class="abp-label">Empreendimento</label>

<app-autocomplete
  [lista]="destinos"
  campoDescricao="destinoDesc"
  [valorSelecionado]="destinoSelecionado"
  [disabled]="!!equipamentoSelecionado"
  (selecionado)="selecionarDestino($event)">
</app-autocomplete>
</div>


        <div class="abp-field abp-half">
         
          <label class="abp-label">Etapa</label>
       <app-autocomplete
  [lista]="etapas"
  campoDescricao="descricao"
  [valorSelecionado]="etapaSelecionada"
  (selecionado)="selecionarEtapa($event)">
</app-autocomplete>
        </div>
      </div>

      <!-- Odômetro -->
    <div class="abp-group-row">

  <div class="abp-field abp-half">
    <label class="abp-label">Odômetro Atual</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="odometroAtual"
    />
  </div>

  <div class="abp-field abp-half">
    <label class="abp-label">Odômetro Abastecimento</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="odometro"
    />
  </div>

</div>

<div class="abp-group-row">

  <div class="abp-field abp-half">
    <label class="abp-label">Horímetro Atual</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="horimetroAtual"
    />
  </div>

  <div class="abp-field abp-half">
    <label class="abp-label">Horímetro</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="horimetro"
    />
  </div>

</div>
 <!-- Insumo -->
<div class="abp-field">
  <label class="abp-label">Insumo</label>

<app-autocomplete
  [lista]="insumos"
  campoDescricao="insumoDescr"
  [valorSelecionado]="insumoSelecionado"
  (selecionado)="selecionarInsumo($event)">
</app-autocomplete>

</div>

<!-- Troca / Reposição e Aplicação -->
<div class="abp-group-row">

  <div class="abp-field abp-half">
    <label class="abp-label">Troca / Reposição</label>

    <app-autocomplete
      [lista]="tiposPrevAbast"
      campoDescricao="descricao"
      [valorSelecionado]="tipoPrevAbast"
      (selecionado)="selecionarTipoPrevAbast($event)">
    </app-autocomplete>
  </div>

  <div class="abp-field abp-half">
    <label class="abp-label">Aplicação</label>

    <app-autocomplete
      [lista]="aplicacoes"
      campoDescricao="descricao"
      [valorSelecionado]="aplicacaoSelecionada"
      (selecionado)="selecionarAplicacao($event)">
    </app-autocomplete>
  </div>

</div>
<!-- Quantidade / No.Bomba -->
<div class="abp-group-row">

  <div class="abp-field abp-third">
    <label class="abp-label">Quantidade</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="quantidade"
      (input)="onQuantidadeChange($event)"
    />
  </div>

  <div class="abp-field abp-third">
    <label class="abp-label">No.Bomba Inicial</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="numBombaInicial"
      (input)="onNumBombaInicialChange($event)"
    />
  </div>

  <div class="abp-field abp-third">
    <label class="abp-label">No.Bomba Final</label>
    <input
      type="number"
      class="os-input"
      [(ngModel)]="numBombaFinal"
      (input)="onNumBombaFinalChange($event)"
    />
  </div>

</div>

      <!-- Motorista / Operador (agora ligado na API) -->
      <div class="abp-group-row">
<div class="abp-field abp-half">
  <label class="abp-label">Motorista / Operador</label>

  <app-autocomplete
    [lista]="motoristasOperadores"
    campoDescricao="colaboradorNome"
    [valorSelecionado]="motoristaOperadorSelecionado"
    (selecionado)="selecionarMotoristaOperador($event)">
  </app-autocomplete>
</div>

     <div class="abp-field abp-half">
  <label class="abp-label">Colaborador / Frentista</label>

  <app-autocomplete
    [lista]="colaboradoresFrentista"
    campoDescricao="descricao"
    [valorSelecionado]="colaboradorFrentistaSelecionado"
    (selecionado)="selecionarColaboradorFrentista($event)">
  </app-autocomplete>
</div>
      </div>

      <!-- Hora / Bloco -->
      <div class="abp-group-row">
 <div class="abp-field abp-half">
  <label class="abp-label">Hora Abastecimento</label>
  <input
    type="time"
    class="os-input"
    [(ngModel)]="horaAbastecimento"
    (input)="onHoraChange($event)"
  />
</div>

     <div class="abp-field abp-half">
  <label class="abp-label">Bloco</label>

  <app-autocomplete
    [lista]="blocos"
    campoDescricao="nomeBloco"
    [valorSelecionado]="blocoSelecionado"
    (selecionado)="selecionarBloco($event)">
  </app-autocomplete>
</div>
      </div>

      <!-- Observação -->
   <div class="abp-field">
  <label class="abp-label">Observação</label>

  <textarea
    class="os-input os-textarea"
    rows="3"
    [(ngModel)]="observacao"
    (input)="onObservacaoChange($event)">
  </textarea>
</div>

      <!-- Botão confirmar -->
      <div class="abp-actions">
        <button type="button" class="abp-primary-btn" (click)="confirmar()">
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</ion-content>
