<ion-header class="os-header">
  <ion-toolbar lines="none">
    <div class="os-header-bar">
      <!-- casinha -->
      <button class="os-back-btn" (click)="onBack()">
        <img src="../../assets/icon/topoRequest.svg" alt="Voltar" />
      </button>

      <h1 class="os-title">Abastecimento Próprio - Edição</h1>

      <div class="os-header-spacer"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="os-content">
  <div class="os-page">
    <div class="os-card">


<div class="abp-field">
  <label class="abp-label">Origem / Tanque</label>

  <app-autocomplete
  [lista]="bombas"
  campoDescricao="bombaDescricao"
  [valorSelecionado]="bombaSelecionada"
  (selecionado)="bombaSelecionada = $event?.bombaId; onBombaChange($event)"
>
</app-autocomplete>
</div>




      <!-- Equipamento -->
<div class="abp-field">
  <label class="abp-label">Equipamento</label>

  <app-autocomplete
 [lista]="equipamentos"
campoDescricao="descricao"
[valorSelecionado]="equipamentoSelecionado"
(selecionado)="equipamentoSelecionado = $event?.id"
    >
  </app-autocomplete>
</div>


      <!-- DATA  -->
      <div class="abp-field">
  <label class="abp-label">Data do abastecimento</label>

  <div class="abp-date-input" (click)="openCalendar($event)">
    <ion-input
      class="abp-input abp-date-display"
      readonly
      placeholder="dd/mm/aaaa"
      [value]="formatDate(data)">
    </ion-input>

    <!-- BOTÃO LIMPAR -->
    <button
      *ngIf="data"
      type="button"
      class="abp-date-clear"
      (click)="limparData($event)">
      ✕
    </button>

    <!-- BOTÃO CALENDÁRIO -->
    <button
      type="button"
      class="abp-date-btn"
      (click)="openCalendar($event)">
      <ion-icon name="calendar-outline"></ion-icon>
    </button>
  </div>
</div>

      <!-- Bomba / Bico e Destino (ainda sem API, por enquanto só layout) -->
      <div class="abp-group-row">
        <div class="abp-field abp-half">
          <label class="abp-label">Bomba / Bico</label>
  <app-autocomplete
  [lista]="bombas"
  campoDescricao="bombaDescricao"
  [valorSelecionado]="bombaSelecionada"
  (selecionado)="selecionarBomba($event)">
</app-autocomplete>
        </div>

        <div class="abp-field abp-half">
          <label class="abp-label">Destino</label>
 <app-autocomplete
  [lista]="destinos"
  campoDescricao="destinoDesc"
  [valorSelecionado]="destinoSelecionado"
  (selecionado)="selecionarDestino($event)">
</app-autocomplete>
        </div>
      </div>

      <!-- Empreendimento / Etapa -->
      <div class="abp-group-row">
<!-- Empreendimento -->
<div class="abp-field abp-half">
  <label class="abp-label">Empreendimento</label>

  <app-autocomplete
    [lista]="empreendimentos"
    campoDescricao="descricao"
    [valorSelecionado]="empreendimentoSelecionado"
    (selecionado)="selecionarEmpreendimento($event)">
  </app-autocomplete>

</div>


        <div class="abp-field abp-half">
         
          <label class="abp-label">Etapa</label>
       <app-autocomplete
  [lista]="etapas"
  campoDescricao="descricao"
  [valorSelecionado]="etapaSelecionada"
  (selecionado)="selecionarEtapa($event)">
</app-autocomplete>
        </div>
      </div>

      <!-- Odômetro -->
     <div class="abp-group-row">

  <div class="abp-field abp-half">
    <label class="abp-label">Odômetro Atual</label>
    <ion-input class="abp-input abp-input-clean" type="number"
      [(ngModel)]="odometroAtual">
    </ion-input>
  </div>

  <div class="abp-field abp-half">
    <label class="abp-label">Odômetro Abastecimento</label>
    <ion-input class="abp-input abp-input-clean" type="number"
      [(ngModel)]="odometro">
    </ion-input>
  </div>

</div>

<div class="abp-group-row">

  <div class="abp-field abp-half">
    <label class="abp-label">Horímetro Atual</label>
    <ion-input class="abp-input abp-input-clean" type="number"
      [(ngModel)]="horimetroAtual">
    </ion-input>
  </div>

  <div class="abp-field abp-half">
    <label class="abp-label">Horímetro</label>
    <ion-input class="abp-input abp-input-clean" type="number"
      [(ngModel)]="horimetro">
    </ion-input>
  </div>

</div>
 <!-- Insumo -->
<div class="abp-field">
  <label class="abp-label">Insumo</label>
  <ion-select
    class="abp-input abp-select"
    interface="popover"
    placeholder="Selecione"
    [(ngModel)]="insumoSelecionado"
    name="insumoSelecionado"
    (ionChange)="onInsumoChange($event.detail.value)"
  >
    <ion-select-option
      *ngFor="let insumo of insumos"
      [value]="insumo.insumoId"
    >
      {{ insumo.insumoDescr }}
    </ion-select-option>
  </ion-select>
</div>

      <!-- Troca / Reposição e Aplicação -->
      <div class="abp-group-row">
        <div class="abp-field abp-half">
          <label class="abp-label">Troca/ Reposição</label>
          <ion-select class="abp-input abp-select" interface="popover" placeholder="Selecione"
            [(ngModel)]="tipoPrevAbast" name="tipoPrevAbast" [disabled]="!aplicacaoHabilitada">
            <ion-select-option value="T">Troca</ion-select-option>
            <ion-select-option value="R">Reposição</ion-select-option>
          </ion-select>
        </div>

        <div class="abp-field abp-half">
          <label class="abp-label">Aplicação</label>
          <ion-select class="abp-input abp-select" interface="popover" placeholder="Selecione"
            [(ngModel)]="aplicacaoSelecionada" name="aplicacaoSelecionada" [disabled]="!aplicacaoHabilitada">
            <ion-select-option *ngFor="let aplic of aplicacoes" [value]="aplic.aplicacaoId">
              {{ aplic.aplicacaoDescr }}
            </ion-select-option>
          </ion-select>
        </div>
      </div>

      <!-- Quantidade / No.Bomba -->
      <div class="abp-group-row">
        <div class="abp-field abp-third">
          <label class="abp-label">Quantidade</label>
          <ion-input
            class="abp-input"
            type="number"
            [(ngModel)]="quantidade"
            (ionChange)="onQuantidadeChange($event)"
          ></ion-input>
        </div>
        <div class="abp-field abp-third">
          <label class="abp-label">No.Bomba Inicial</label>
          <ion-input class="abp-input" type="number" [(ngModel)]="numBombaInicial" (ionChange)="onNumBombaInicialChange($event)"></ion-input>
        </div>
        <div class="abp-field abp-third">
          <label class="abp-label">No.Bomba Final</label>
          <ion-input class="abp-input" type="number" [(ngModel)]="numBombaFinal" (ionChange)="onNumBombaFinalChange($event)"></ion-input>
        </div>
      </div>

      <!-- Motorista / Operador (agora ligado na API) -->
      <div class="abp-group-row">
        <div class="abp-field abp-half">
          <label class="abp-label">Motorista / Operador</label>
          <ion-select class="abp-input abp-select" interface="popover" placeholder="Selecione"
            [(ngModel)]="motoristaOperadorSelecionado" (ionChange)="onMotoristaOperadorChange($event)">
            <ion-select-option [value]="null">Selecione</ion-select-option>
            <ion-select-option *ngFor="let m of motoristasOperadores" [value]="m.fornId">{{ m.colaboradorNome }}</ion-select-option>
          </ion-select>
        </div>

        <div class="abp-field abp-half">
          <label class="abp-label">Colaborador / Frentista</label>
          <ion-select class="abp-input abp-select" interface="popover" placeholder="Selecione"
            [(ngModel)]="colaboradorFrentistaSelecionado" (ionChange)="onColaboradorFrentistaChange($event)">
            <ion-select-option [value]="null">Selecione</ion-select-option>
            <ion-select-option *ngFor="let c of colaboradoresFrentista" [value]="c.id">{{ c.descricao }}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <!-- Hora / Bloco -->
      <div class="abp-group-row">
        <div class="abp-field abp-half">
          <label class="abp-label">Hora Abastecimento</label>
          <ion-input class="abp-input" type="time" [(ngModel)]="horaAbastecimento" name="horaAbastecimento"></ion-input>
        </div>

        <div class="abp-field abp-half">
          <label class="abp-label">Bloco</label>
          <ion-select class="abp-input abp-select" interface="popover" placeholder="Selecione"
            [(ngModel)]="blocoSelecionado" name="blocoSelecionado" (ionChange)="onBlocoChange($event)">
            <ion-select-option [value]="null">Selecione</ion-select-option>
            <ion-select-option *ngFor="let b of blocos" [value]="b.id || b.blocoId || b.BlocoId">{{ b.nome || b.nomeBloco || b.descricao || b.Descricao || (b | json) }}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <!-- Observação -->
      <div class="abp-field">
        <label class="abp-label">Observação</label>
        <ion-input
          class="abp-input"
          type="text"
          [(ngModel)]="observacao"
        ></ion-input>
      </div>


      <!-- Botão confirmar -->
      <div class="abp-actions">
        <button type="button" class="abp-primary-btn" (click)="confirmar()">
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</ion-content>
